{% extends "layout" %}

{% block content %}
<h2>Előfordulások</h2>
<h3 class="greek">{{ word.szal }}</h3>
<table class="table greek">
{% for occurrence in words %}
<tr>
    <td><a href="/text/{{occurrence.ref.bookName}}/{{ occurrence.ref.chapter }}/{{ occurrence.ref.verse }}">{{ occurrence.ref.bookName }} {{ occurrence.ref.chapter }},{{ occurrence.ref.verse }}</a>: 
        {% set verseId = occurrence.ref.bookName ~ occurrence.ref.chapter ~ "," ~ occurrence.ref.verse %}
        <a href="https://szentiras.hu/{{verseId}}" target="_blank"><sup>szentiras.hu</sup></a>
    {% for textPart in occurrence.text %}
    {% if textPart.gk == word.gk %}<mark>{{ textPart.unic }}</mark>
    {% else %}{{ textPart.unic }}{% endif %}

    {% endfor %}
    <br>
    {% for textPart in occurrence.text %}
    <i>{{ textPart.mj }}</i>
    {% endfor %}
    </td>
</td>
{%endfor %}
</table>

{%  endblock %}